<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Formadora</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="dark">
    <ion-button [routerLink]="['/api']" routerDirection="forward" fill="clear" class="base">Pesquisa</ion-button><br>
    <ion-button [routerLink]="['/page3']" routerDirection="forward" fill="clear" class="base">Voltar</ion-button><br>
</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header >
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="escrita">Formadora</ion-title>
      </ion-toolbar>
      
        <ion-card color="dark">
          <ion-card-header>
            <img src="assets/rapha.jpg" alt="Raphael" class="card-image"/>
            <ion-card-title>
              Informações do aluno
            </ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <ion-list >
              <ion-item>
                <ion-label>Nome: Raphael Durao</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Matricula: 23201174</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Turma:</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
          </ion-header>
  </div>
  